.jumbotron {
    background-color: rgba(255,255,255,0.5);
}

.container {
    padding-top: 40px;
}

body {
    background-image: url('/static/images/background.png');
    background-size: cover;
}

small {
    color: #444;
}
